%%-*- mode: erlang -*-
{deps,
  [
    {oauth, ".*", {git, "/Users/oj/code/erlang-oauth", {branch, "rebarise"}}},
    {webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "HEAD"}},
    {erlydtl, ".*", {git, "git://github.com/OJ/erlydtl.git", "HEAD"}}
  ]
}.
