<header class="subhead">
  <h1>You need to sign in!</h1>
  <p class="lead">... we can't do much unless we know who you are.</p>
</header>
<section>
  <div class="page-header">
    <h1>So go ahead and <a href="{{ login_url }}" title="Sign in with Twitter"><img src="http://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png"/></a></h1>
  </div>
</section>
