<header class="subhead">
    <h1>Take your pick <small>...</small></h1>
</header>
<section>
  <div class="page-header">
  <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="span6">
      <h2>This one?</h2>
    </div>
    <div class="span6">
      <h2 class="pull-right">Or this one?</h2>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <pre class="prettyprint linenums">{{{left}}}</pre>
    </div>
    <div class="span6">
      <pre class="prettyprint linenums">{{{right}}}</pre>
    </div>
  </div>
</section>
