<div class="row">
  <div class="span6">
    <div class="progress progress-striped">
      <div class="bar pull-right" id="left_ratio" style="width: 0%;"></div>
    </div>
  </div>
  <div class="span6">
    <div class="progress progress-striped">
      <div class="bar" id="right_ratio" style="width: 0%;"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 centered">
    Votes: <span class="badge badge-info" id="left_votes">?</span>
  </div>
  <div class="span6 centered">
    Votes: <span class="badge badge-info" id="right_votes">?</span>
  </div>
</div>
