%%-*- mode: erlang -*-
[
  {sasl,
    [
      {sasl_error_logger, {file, "log/sasl-error.log"}},
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},      % Log directory
      {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
      {error_logger_mf_maxfiles, 5}           % 5 files max
    ]
  },
  {csd_web,
    [
      {web,
        [
          {ip, "0.0.0.0"},
          {port, 8000},
          {log_dir, "priv/log"},
          {dispatch,
            [
              {[], csd_web_resource, []},
              {["snippet"], csd_web_snippet_submit_resource, []},
              {["snippet", key], csd_web_snippet_resource, []},
              {["userdetail", user_id], csd_web_user_detail_resource, []},
              {["oauth", "request"], csd_web_request_resource, []},
              {["oauth", "callback"], csd_web_callback_resource, []}
            ]}
        ]
      },
      {urimap,
        [
          {home, "/"},
          {twitter_logon, "/oauth/request"}
        ]
      },
      {twitter,
        [
          {consumer_key, "< your stuff goes here >"},
          {consumer_secret, "< your stuff goes here >"},
          {request_token_url, "https://twitter.com/oauth/request_token"},
          {access_token_url, "https://twitter.com/oauth/access_token"},
          {authenticate_url, "https://twitter.com/oauth/authenticate"},
          {callback_url, "http://127.0.0.1:8000/oauth/callback"},
          {current_user_info_url, "https://twitter.com/account/verify_credentials.json"}
        ]
      }
    ]
  }
].

