%%-*- mode: erlang -*-
[
  {sasl,
    [
      {sasl_error_logger, {file, "log/sasl-error.log"}},
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},      % Log directory
      {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
      {error_logger_mf_maxfiles, 5}           % 5 files max
    ]
  },
  {csd_web,
    [
      {web,
        [
          {ip, "0.0.0.0"},
          {port, 8000},
          {log_dir, "priv/log"},
          {dispatch,
            [
              {[], csd_web_resource, []},
              {["snippet", key], csd_web_snippet_resource, []},
              {["oauth", "request"], csd_web_request_resource, []},
              {["oauth", "callback"], csd_web_callback_resource, []}
            ]}
        ]
      },
      {urimap,
        [
          {home, "/"},
          {twitter_logon, "/oauth/request"}
        ]
      },
      {twitter,
        [
          {consumer_key, "mlL3YVYtxjdoJ2QsR1JfRQ"},
          {consumer_secret, "Gd5Z32Py8MJ63JrmeE4kkVu2poAIAE789V5EpSJJls"},
          {request_token_url, "https://twitter.com/oauth/request_token"},
          {access_token_url, "https://twitter.com/oauth/access_token"},
          {authorize_url, "https://twitter.com/oauth/authorize"},
          {authenticate_url, "https://twitter.com/oauth/authenticate"},
          {callback_url, "http://127.0.0.1:8000/oauth/callback"},
          {current_user_info_url, "https://twitter.com/account/verify_credentials.json"},
          {lookup_users_url, "https://api.twitter.com/1/users/lookup.json"},
          {direct_messages_list_url, "https://twitter.com/direct_messages.json"}
        ]
      }
    ]
  }
].

