[
  {flake, [
      {interface, "en0"},
      {timestamp_path, "/tmp/flake/timestamp-dets"},
      {allowable_downtime, 2592000000}
    ]},
  {pooler, [
      {pools, [
          [
            {name, "haproxy"},
            {max_count, 30},
            {init_count, 5},
            {start_mfa, {riakc_pb_socket, start_link, ["127.0.0.1", 8080]}}
          ]
        ]}
    ]}
].
